{% include base.html %}
<header>
  <nav class="navigation">
    <a href="{{ base }}/" class="navigation-item"><span class="link-text">Bitspossessed</span></a>
    <a href="{{ base }}/members" class="navigation-item"><span class="link-text">Members</span></a>
    <a href="{{ base }}/projects" class="navigation-item"><span class="link-text">Projects</span></a>
    <a href="{{ base }}/code-of-conduct" class="navigation-item"><span class="link-text">Code of conduct</span></a>
    <a href="{{ base }}/contact" class="navigation-item"><span class="link-text">Contact</span></a>
  </nav>
</header>
