<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}">
<!-- @TODO: Upload og:image and adjust image sizes -->
<meta property="og:image" content="{{ site.url }}/images/bits.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="2400">
<meta property="og:image:height" content="1300">
<title>{{ site.title }}</title>
<link rel="shortcut icon" href="/favicon.ico">
<meta name="robots" content="index, follow" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/styles/app.css?{{ site.time | date: '%s%n' }}">
