{% include base.html %}
<header>
  <ul class="navigation">
    <li class="navigation-item"><a href="{{ base }}/">Home</a></li>
    <li class="navigation-item"><a href="{{ base }}/about">About</a></li>
    <li class="navigation-item"><a href="{{ base }}/projects">Projects</a></li>
    <li class="navigation-item"><a href="{{ base }}/members">Members</a></li>
    <li class="navigation-item"><a href="{{ base }}/links">Links</a></li>
    <li class="navigation-item"><a href="{{ base }}/contact">Contact</a></li>
  </ul>
</header>
