:root {
  --color-main: white;
  --color-purple: rgb(177, 0, 255);
  --color-blue: rgb(17, 22, 200);
  --color-black: rgb(2, 0, 36, 0.8);
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(180deg, var(--color-purple) 0%, var(--color-blue) 35%, var(--color-black) 100%);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-main);
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
}

a {
  color: var(--color-main);
  text-decoration: none;
  border-bottom: 2px solid var(--color-main);
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

header,
main,
footer {
  margin: 2em;
}

header {
  text-align: center;
}

main {
  flex: 1;
}

footer {
  text-align: center;
}

svg {
  overflow: visible;
}

.container {
  margin: 0 auto;
  max-width: 40em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.shape {
  position: fixed;
  z-index: -100;
  width: 50%;
  height: 50%;
}

@media (max-width: 420px) {
  .shape {
    width: 80%;
    height: 80%;
  }
}

.shape path {
  transition: 10s linear;
}

.shape-top-center {
  top: -10%;
  left: 33%;
}

.shape-top-left {
  top: -25%;
  left: -25%;
}

.shape-top-right {
  top: -15%;
  right: -25%;
}

.shape-middle-left {
  top: 50%;
  left: -25%;
}

.shape-middle-right {
  top: 30%;
  right: -25%;
}

.shape-bottom-left {
  bottom: -15%;
  left: -25%;
}

.shape-bottom-right {
  bottom: -10%;
  right: -20%;
}

.intro {
  font-size: 200px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.grid-container-projects {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-item {
  border-radius: 1rem;
  mix-blend-mode: color-dodge;
  background: var(--color-black);
  padding: 1.5rem;
}
